includeConfig "${projectDir}/modules/zhanglab/cat/fastq/nextflow.config"
includeConfig "${projectDir}/modules/zhanglab/preseq/lcextrap/nextflow.config"
includeConfig "${projectDir}/modules/zhanglab/subread/featurecounts/nextflow.config"

includeConfig "${projectDir}/modules/local/multiqc_custom_biotype/nextflow.config"

includeConfig "${projectDir}/subworkflows/local/quantify_rsem/nextflow.config"

includeConfig "${projectDir}/subworkflows/zhanglab/bam_markduplicates_picard/nextflow.config"
includeConfig "${projectDir}/subworkflows/zhanglab/bam_rseqc/nextflow.config"
